span.modal__icon: i(ng-class="getIconClass()", ng-if="data.icon")
.modal__title
  h2 {{data.title}}
.modal__body(ng-bind-html="data.body")
.modal__footer
  button.btn.btn--negative(ng-click="close()") Ok, close