.ppk-drop
  .ppk-drop__box(ng-class=" { 'is-file-over' : isFileOver } ")
    input.ppk-drop__input(type="file", multiple, ng-class=" { 'ppk-drop__input--polyfill': supportsUploadClickDelegation } ")
    .ppk-drop__info
      i
      //- button.ppk-drop__upload-btn ppk-drop__upload-btn  