
.haiku__categories {
  @extend %haiku__container;
  list-style:     none;
  padding:        0;
  margin:         0;
  background-color: $gray;
}

.haiku__category {
  @extend %haiku__container;
  @include transition($haiku-duration all $haiku-easing);
  @include transform(translate3d(0,0,0));
}

.haiku__category--prev{
  @include transform(translate3d(-100%, 0,0));
}

.haiku__category--next{
  @include transform(translate3d(100%,0,0));
}

.haiku__category--current {
  transition-duration: $haiku-duration * .7;
}
.haiku__category-content {

}
