$haiku-nav-base-color: $black;

.haiku-nav {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  transition: .3s all;
}

.haiku-nav--hidden{
  opacity:  0;
  visibility: hidden; 
  margin-right: -300px;
}

.haiku-nav__categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.haiku-nav__category {
  display: inline-block;
  vertical-align: top;
  margin: 0 .5em;
}

.haiku-nav__category-content {

}

.haiku-nav__slides {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  @include transform(translateY(-50%));
  line-height: 1.5em;
}

.haiku-nav__slide {
  display: block;
  padding: 0 10px;
}



.haiku-nav__button {
  vertical-align:   middle;
  $w:               14px;
  border:           none;
  border-radius:    $w;
  width:            $w;
  height:           $w;
  padding:          0;
  border:           2px solid transparentize($haiku-nav-base-color, .7);
  background-color: transparent;
  opacity:          .8;
  @include transition(.1s box-shadow);
  
  margin-top: 1em;
  &:focus{
    -webkit-outline: none;
    outline: none;
  }

  &:active{
    box-shadow: 0 0 0 25px transparentize($haiku-nav-base-color, .5);
  }

  @media all and (max-width: 1024px) {
    width: 2 * $w;
    height: 2 * $w;
    border-radius: 2 * $w;

  }

}



.haiku-nav__button--active{
  background-color: transparentize($haiku-nav-base-color, .5);
  border: none transparent;
  // box-shadow: 0 0 0 5px transparentize($haiku-nav-base-color, .7);
}





.haiku-nav__tools{
  position:   absolute;
  right:      10px;
  top:        10px;
  width:      40px;
  text-align: right;
}



%haiku-nav__tool{

  $w:             40px;
  width:          $w;
  height:         $w;
  display:        block;
  padding:        0;
  line-height:    $w - 2px;
  border:         none;
  background:     rgba(0, 0, 0, 0.3);
  color:          transparentize($white, .3);
  margin-bottom:  0;
  font-size: 18px;
  @include animate(bounceIn .4s linear 0 both);

  i{
    @extend [class*="icon-"];
  }


  &:focus{
    outline: none;
  }

  &:active{
    background-color: $white;
    color: $black;
  }


}


.haiku__share-btn{
  @extend %haiku-nav__tool;
  i{
    @extend .icon-export;
  }

}


.haiku__loading-btn{
  @extend %haiku-nav__tool;
  i{
    @extend .icon-upload;
  }

}

.haiku__remote-btn{
  @extend %haiku-nav__tool;
  i{
    @extend .icon-gamepad;
  }

}

.haiku__close-btn{
  @extend %haiku-nav__tool;


  i{
    @extend .icon-switch;
  }
}