.haiku__slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.haiku__slide {
  @extend %haiku__container;
  opacity: 1;
  padding: 20px;
  transition: $haiku-duration all $haiku-easing;
  background-size: cover;
  @include transform(translate3d(0,0,0));
  -webkit-backface-visibility: hidden;
}

.haiku__slide-content{
    max-width: 40em;
    margin: 2em auto;
}

.haiku__slide--current{
  transition-duration: $haiku-duration * .9;
}
.haiku__slide--next{
  @include transform(translate3d(0,100%,0));
}

.haiku__slide--prev{
  @include transform(translate3d(0,-100%,0));
}
