.ppk-drop{
}
.ppk-drop__box{
  width: 100%;
  height: 100%;
  position:         absolute;
  // background-color: $alizarin;
  transition: .7s all;

  

  $w: 96px;
  i{
    pointer-events: none;
    @extend .icon-arrow-down;
    @extend [class*="icon-"];
    color:              $brand-color;
    font-size:          $w;
    width:              $w;
    height:             $w;
    transition:         .4s all ease-out 0;
    margin-bottom: 20px;  
  }

  .ppk-drop__input--polyfill{
    opacity:  0;
    position: absolute;
    left:     50%;
    top:      50%;
    width:    $w;
    height:   $w;
    margin-left:  -.5 * $w;
    margin-top:  -.5 * $w;
    z-index:  2;
    visibility: visible;  
  }


  &:hover{

  }

  &.is-file-over{
    background-color: transparentize($brand-color, .2);
    i{
      opacity: 1;
      color: $white;
    }
    
    .ppk-drop__info{
      @include transform(translate(-50%, -50%) rotate(180deg));
      transition: .4s ease .4s;
    }
  
  }
}


.ppk-drop__input{
  opacity: 0; 
  visibility: hidden; 
}


.ppk-drop__info{
  $w: 96px;
  width:              $w;
  height:             $w;
  position:           absolute;
  left:               50%;
  top:                50%;
  @include transform(translate(-50%, -50%));
  pointer-events: none;
  transition: .4s ease 0s;
  @include animate(fadeIn 1.5s ease 0s both);
}
.ppk-drop__upload-btn{
  border: 2px solid $white;
  border-radius: 5px;
  padding:  0 1em;
  background-color: transparent;
  color: $white;
  line-height: 2em; 
    
  &:active{
    background: $white;
    color: $alizarin;
  }

  &:focus{
    outline: none;
  }
}