.form{
  
}


.input-text{
  -webkit-appearance: none;
  color: $gray-darker;
  border-radius: 4px;
  background-color: transparentize($white, .15);
  border: 1px solid $gray-lighter;
  line-height: 2;
  padding: 0 .5em 1px;  
  transition: .3s all;
  font-size: 14px;
  font-family: $font-family-body;
  

  
  &:focus{
    outline: none;
    border-color: $blue;
    background-color: $white;
    @include box-shadow(0 0 0 5px transparentize($blue, .7));
  }
}


.input-text--huge{
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
}

.input--full{
  display: block;
  width: 100%;
}