@import "compass/css3";





$haiku-easing: cubic-bezier(.1, .7, .1, 1);
$haiku-duration: .45s;

%haiku__container{
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;

}
.haiku {
  @include perspective(600);
  @extend %haiku__container;
  &, *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}



.haiku-loading{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($white, .4);
}

.haiku-loading__label{
  @extend .alpha;
  font-weight: 300;
  text-align: center;
  font-family: $font-family-headings;
  color: $brand-color;
  position: absolute;
  width: 100%;
  margin: -40px auto 0;
  top: 50%;
}

.haiku-loading__spinner{
  @include animate(rotate 1s linear 0s both infinite);
  $w : 50px;
  width: $w;
  height: $w;
  border-radius: $w;
  border: 2px solid $brand-color;
  border-left-color: transparent;
  display: inline-block;


}

@-webkit-keyframes rotate{
  0%  { @include transform(rotate(0));      }
  100%{ @include transform(rotate(360deg)); }
}


@import "haiku/categories";
@import "haiku/slides";
@import "haiku/nav";
@import "haiku/default-theme";

@import "haiku/modals/share";
@import "haiku/modals/send-remote-url";
