@import "icon-config";

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e602";
}
.icon-switch:before {
  content: "\e60b";
}
.icon-gamepad:before {
  content: "\e612";
}
.icon-upload:before {
  content: "\e613";
}
.icon-hourglass:before {
  content: "\e614";
}
.icon-export:before {
  content: "\e604";
}
.icon-wifi-full:before {
  content: "\e60a";
}
