.import__example{
  font-size: 24px;

  border: 2px solid $brand-color;
  border-radius: 10px;
  padding: 0 .5em 2px;
  color: $brand-color;
  text-decoration: none;
  text-transform: uppercase;

  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;

  &:active{
    background-color: $brand-color;
    color: $white;
  }
}