$default-modal-w: 640px;

.modal{

  // text-align: center;
  position: absolute;
  padding: 30px;
  width: 100%;
  top: 50%;
  margin-top: -200px;
  // @include transform(translateY(-50%));
  background-color: $white;
  @include animate(fadeInUp .7s cubic-bezier(.1, .7, .1, 1) .2s both);
  overflow: hidden;


  .btn{
    margin-right: 1em;
  }



}


.modal__icon{
  $size:      470px;
  line-height: 1;
  position:   absolute;
  left:       25%;
  top:        50%;
  margin-top:  -.5 * $size;
  margin-left: -.5 * $size;
  font-size:  $size;
  color:      $brand-color;
  opacity:    .1;
  z-index: -1;
}



%modal__section--default{
  margin: 0 auto 1.6rem;
  max-width: $default-modal-w;
}

.modal__title{
  h1 { @extend .beta; }
  @extend %modal__section--default;
}


.modal__body{
  @extend %modal__section--default;
}

.modal__footer{
  @extend %modal__section--default;
}



.modal--default{

}



.modal-backdrop{
  position:   fixed;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  background: rgba(0,0,0,.8);
  @include animate(fadeIn .7s ease 0s both);
}


@-webkit-keyframes fallIn {
  0%{
    @include transform(scale(1.5));
    opacity: 0;
  }

  100%{
    @include transform(scale(1));
    opacity: 1;
  }
}