$toast-easing: cubic-bezier(.1, .7, .1, 1);
.toast{
  @include animate(fadeInLeft .45s $toast-easing 0 both);
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  min-width: 200px;
  border-radius: 5px;
}

.toast-title{
  font-weight: 300;
  font-size: 18px;
  // font-family: $font-family-headings;
}

#toast-container > div{
  box-shadow: none;
  border-radius: none;
}

.toast-info{
  background-color: $white;
  border: 1px solid $brand-color;
}

#toast-container{
  position: absolute;
  bottom: 10px;
  right: 10px;

  >.toast-info, >.toast-error, >.toast-success{
    background-image: none;
  }
}