.haiku-nav(ng-class=" { 'haiku-nav--hidden' : !visible } ")
  .haiku-nav__tools
    button.haiku__close-btn(ng-show="clientRole == 'host'", h-tap="close()"): i
    button.haiku__remote-btn(ng-show="clientRole == 'host'", h-tap="enableRemote()"): i
    button.haiku__share-btn(ng-show="(clientRole == 'host') && readyToShare", h-tap="share()"): i
    button.haiku__loading-btn(ng-show="(clientRole == 'host') && !readyToShare"): i
  ol.haiku-nav__categories(ng-show="categories.length > 1")
    li.haiku-nav__category(ng-repeat="category in categories", ng-class="{ 'haiku-nav__category--current' : currentCategory == isCurrentCategory(category) }")
      button.haiku-nav__button(ng-class="{'haiku-nav__button--active': isCurrentCategory(category)}", h-tap="goto({index: 0, categoryIndex: $index})")
  ol.haiku-nav__slides(ng-show="categories[categories.currentCategory].slides.length > 1")
    li.haiku-nav__slide(ng-repeat="slide in categories[categories.currentCategory].slides")
      button.haiku-nav__button(ng-class="{'haiku-nav__button--active': isCurrentSlide(slide)}", h-tap="goto(slide)")