.haiku-import
  a(href="examples/categories.md", target="_blank", download="Drag me to the browser window.md", ng-show="mdSupported").import__example Get example haiku
  div(ng-show="state == 'idle'"): ppk-drop(on-drop="onFileDropped(file)", files="files")
  .haiku-loading(ng-show="state == 'sending'")
    .haiku-loading__label L<span class="haiku-loading__spinner"></span>ading...