.page-content(ng-dblclick="navVisible = !navVisible")
  div(ng-if="categories.length", ng-show="UIReady")
    haiku(categories="categories", on-update="updateStatus(status)")
    haiku-nav(categories="categories", visible="navVisible", on-enable-remote="sendRemoteURL()", on-share="shareURL()")
  .haiku-loading(ng-hide="UIReady")
    .haiku-loading__label L<span class="haiku-loading__spinner"></span>ading...