.page-content(ng-dblclick="navVisible = !navVisible")
  div(ng-switch="status")
    div(ng-switch-when="ready", ng-show="UIReady")
      haiku(categories="categories", on-update="updateStatus(status)")
      haiku-nav(categories="categories", visible="navVisible")
    .haiku-loading(ng-hide="UIReady")
      .haiku-loading__label L<span class="haiku-loading__spinner"></span>ading...