.haiku(ng-class="getThemeClass()")
  div(ng-show="categories.length", ng-dblclick="navVisible = !navVisible")
    ol.haiku__categories
      li.haiku__category(ng-repeat="category in categories", ng-class="getCategoryClass(category)")
        .haiku__category-content
          ol.haiku__slides(ng-show="category.slides.length")
            li.haiku__slide(ng-repeat="slide in category.slides", ng-style="getSlideStyle(slide)", ng-class="getSlideClass(slide)")
              section.haiku__slide-content(ng-bind-html="slide.body")
