span.modal__icon: i.icon-switch
.modal__title
  h2 Confirm
.modal__body
  | Do you really want to go back to upload and remove this haiku?
.modal__footer
  button.btn.btn--negative(ng-click="ok()") Ok, close
  button.btn.btn--positive(ng-click="cancel()") No, stay here
