span.modal__icon: i.icon-gamepad
.modal__title
  h2 Get Remote Control URL
.modal__body
  form.form(name="form", ng-submit="ok(!form.modalEmail.$invalid)").send-remote-url
    .form-item.send-remote-url__input
      input.input-text.input-text--huge.input--full(name="modalEmail", type="email", placeholder="Type your email here", ng-model="result.email", required)
    .flexbox__item.send-remote-url__qr
      img(ng-src="http://qrickit.com/api/qr?d={{currentEncodedURL}}&bgdcolor=f7f7f7&fgdcolor=7f748c&qrsize=180", width="90", height="90")
.modal__footer
  button.btn.btn--positive(ng-disabled="form.modalEmail.$invalid", ng-click="ok(true)") Ok, send.
  button.btn.btn--negative(ng-click="cancel()") Cancel