span.modal__icon: i.icon-share
.modal__title
  h2.flexbox 
    span.flexbox__item Share a haiku: 
    .flexbox__item: input.input-text.input--full.input--paste(copy-on-select, ng-model="currentURL", readonly)
.modal__body.haiku-share__modal-wrapper
  .haiku-share__form
    ul.haiku-share__emails
      li(ng-show="!emails.length")
        .beta Boooo
        p No one's invited to the party :(
      li.haiku-share__email(ng-repeat="email in emails")
        span {{email}}
        button.haiku-share__remove(ng-click="remove(email)", tabindex="-1") &times;
    form.form(name="form", novalidate, ng-submit="add(newEmail.value)")
      .form-item
        input.haiku-share__add-input(name="modalEmail", type="email", placeholder="Add new email...", ng-model="newEmail.value", required)
        button.haiku-share__add(ng-disabled="form.modalEmail.$invalid", ng-click="add(newEmail.value)") Add
  .haiku-share__qr
    img(ng-src="http://qrickit.com/api/qr?d={{currentEncodedURL}}&bgdcolor=f7f7f7&fgdcolor=7f748c&qrsize=320", width="160", height="160")
.modal__footer
  button.btn.btn--positive(ng-disabled="!emails.length", ng-click="ok()") Ok, send.
  button.btn.btn--negative(ng-click="cancel()") Cancel