.send-remote-url{
  @extend .flexbox;
}

.send-remote-url__input{
  @extend .flexbox__item;
}

.send-remote-url__qr{
  @extend .flexbox__item;
  padding-left: 10px;
  img {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    @include animate(fadeIn .6s linear .6s both);
  }
}
