
.haiku-share__modal-wrapper{
  @extend .flexbox;
}

.haiku-share__form{
  @extend .flexbox__item;
  width: 100%;
} 

.haiku-share__qr{
  @extend .flexbox__item;
  vertical-align: top;
  padding-left: 10px;
  img{
    border-radius: 15px;
    @include animate(fadeIn .5s linear 0.7s both);
  }
}

.haiku-share__emails{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  height: 160px;
  border-radius: 15px;
  background: $gray-lightest;
  text-align: left;
  margin-bottom: 1rem;
  overflow-y: auto;
}


.haiku-share__email{
  cursor: default;
  padding: 0 0 1px 1em;
  margin: 0 .5em .5em 0;
  // border-bottom: 1px solid $gray-lighter;
  background-color: transparentize($purple, .8);
  border-radius: 10px; 
  line-height: 30px;
  font-size: 14px;
  color: $purple;
  display: inline-block;
  position: relative;
  
  @include animate(fadeInLeft .3s);
}


.haiku-share__add-input{
  @extend .input-text;
  background: transparentize($white, .15);
  margin-right: 1em;
  width: 50%;
}

.haiku-share__remove{
  background: transparent;
  border: none;
  color: $gray-darker;
  @extend .btn--natural;
  margin-right: 0;
}

.haiku-share__add{
  @extend .btn;
  @extend .btn--positive;
  @extend .btn--small;
}

.input--paste{
  vertical-align: middle;
}