!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
    <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html(class="no-js", lang="en")
  // <![endif]

  include head
  body(ng-controller='AppCtrl', ng-app="app", id="ng-app")
    .viewport
      .viewport__content(ng-view)

    script(src="@@hubURL/socket.io/socket.io.js")
    script(src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js")
    script(src="//connect.facebook.net/en_US/all.js")
    script
      window.haiku = {
        config: {
          hubURL: '@@hubURL',
          remoteURL: '@@remoteURL'
        }
      }

    script(src='js/vendor.js')
    script
      $(function(){
        $('body').on('touchmove', function (e) {
           if (!$('.scrollable').has($(e.target)).length) e.preventDefault();
        });
      });
    script(src='js/templates.js')
    script(src='js/app.js')


    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45320100-1', 'paprikka.github.io');
      ga('send', 'pageview');
