// @import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
$font-family-body:      'Segoe UI Light', 'Helvetica Neue', sans-serif;
$font-family-headings:  'Quicksand', sans-serif;
$font-family-mono:      consolas, monotype;


$h1-size: 96px;


h1, h2, h3, h4, h5{
  font-weight: 300; 
  font-family:  $font-family-headings;
}