@import "compass/css3";


@import "config";      // configuration variables for inuit, called overrides in similar projects
@import "colors";      // basic color palette
@import "typography";  // sizes, scales, webfonts
@import "ui/icons";    // not typography per se (despite of the fact that they use fonts internally)

// Vendor libraries
@import 'CSS:../vendor/animate.css/animate';
// @import 'CSS:../vendor/toastr/toastr';
@import '../vendor/inuit.css/inuit'; 

@import "utils/animate"; 

// Custom components
@import "ui/buttons";


@import "ui/form";
@import "ui/haiku";
@import "ui/drop";
@import "ui/notify";
@import "ui/modal";

@import "ui/import";

*, *::after, *::before{
  box-sizing: border-box;
}
 
html{
  overflow: hidden;
}
body{
  user-select:          none;
  -webkit-user-select:  none;
  font-family:          $font-family-body;
  background:           url('../img/bg.jpg');
  background-size:      cover;

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,.001); // make android happy
}

.viewport{
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.intro-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // top: 10%;
  // left: 10%;
  // width: 80%;
  // height: 80%;
  // background-color: $white;
  // padding: 10px;
}


.debug{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: 200px;
  background-color: rgba(0,0,0,.6);
  font-size: 12px;
  color: white;
}